
 @font-face {
  font-family: My Gill Sans;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/GILLSAN3.eot) format("embedded-opentype"),
    url(fonts/GILLSAN3.woff) format("woff")}

@font-face {
  font-family: My Gill Sans;
  font-style: oblique;
  font-weight: normal;
  src: url(fonts/GILLSAN2.eot) format("embedded-opentype"),
    url(fonts/GILLSAN2.woff) format("woff")}

@font-face {
  font-family: My Gill Sans;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GILLSAN1.eot) format("embedded-opentype"),
    url(fonts/GILLSAN1.woff) format("woff")}

@font-face {
  font-family: My Gill Sans;
  font-style: oblique;
  font-weight: 700;
  src: url(fonts/GILLSAN0.eot) format("embedded-opentype"),
    url(fonts/GILLSAN0.woff) format("woff")}

@font-face {
  font-family: OFL Sorts Mill Goudy;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/OFLGoudyStM-webfont.eot) format("embedded-opentype"),
    url(fonts/OFLGoudyStM-webfont.woff) format("woff"),
    url(fonts/OFLGoudyStM-webfont.svg) format("svg") }


html {background: #DCE3E6}

body {
  padding: 0 0px;
  margin: 0.3em 2% 0.3em 2%;
  background: #fff;
  color: #333;
  font: 1.156em/1.3 Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
  /*font-size-adjust: 0.45;*/
  position: relative;
   }